{
  "extends": "@timkurvers",
  "rules": {
    "no-bitwise": "off",
    "no-constant-condition": "off",
    "no-console": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }]
  }
}
